{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $i $archive}

{if $i==0}

					<div class="banner-bottom-left-grids">

						<div class="banner-bottom-left-grid iusto col-xs-12 col-sm-12 col-md-4">
							<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' class="mnb img-responsive">
							<div class="cap1 cum">
								<span> </span>
							</div>
						</div>
{/if}
{if $i==1}

						<div class="banner-bottom-left-grid txt1 col-xs-12 col-sm-12 col-md-4">
							<h3><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h3>
							<p class="asd">{$archive[intro]}</p>
						</div>
{/if}
{if $i==2}
						<div class="banner-bottom-left-grid iusto col-xs-12 col-sm-12 col-md-4">
							<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"'  class="mnb img-responsive">
							<div class="cap">
								<span> </span>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
{/if}
{/loop}

{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $i $archive}


{if $i==0}


					<div class="banner-bottom-left-grids">

						<div class="banner-bottom-left-grid txt1 col-xs-12 col-sm-12 col-md-4">
							<h3><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h3>
							<p class="asd">{$archive[intro]}</p>
						</div>
{/if}
{if $i==1}

						<div class="banner-bottom-left-grid iusto col-xs-12 col-sm-12 col-md-4">
							<img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"'  class="mnb img-responsive">
							<div class="cap3">
								<span> </span>
							</div>
						</div>
{/if}
{if $i==2}

						<div class="banner-bottom-left-grid txt1 col-xs-12 col-sm-12 col-md-4">
							<h3><a href="{$archive['url']}" style="color:{$arc[color]};" target="_blank" >{$archive['title']}</a></h3>
							<p class="asd">{$archive[intro]}</p>
						</div>

						<div class="clearfix"> </div>
					</div>
{/if}

{/loop}

