
		<!-- footer-section -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					{tag_页底左侧栏目说明}
				</div>
				<div class="col-md-4 footer-grid">
					<h5>{tag_页底中间栏目}</h5>
					{tag_页底中间栏目列表2条}
				</div>
				<div class="col-md-4 footer-grid">
					<h5>{tag_页底右侧栏目}</h5>
					<ul>
					<li>{lang(address)}：{get(address)}</li>
					<li>{lang(tel)}：{get(tel)}</li>
					<li>{lang(fax)}：{get(fax)}</li>
					<li>{lang(email)}：{get(email)}</li>
					<li>{lang(postcode)}：{get('postcode')}</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights col-md-10">
					<p><span>{get('sitename')}  {get(site_right)}</span><span>{get('site_icp')}</span><span>{getCopyRight()}{if get('guestbook_enable')}&nbsp;&nbsp;<a rel="nofollow" title="{lang(feedback)}" href="{url('guestbook')}" target="_blank">{lang('feedback')}</a>{/if}</span>{if $topid==0}<span>{if config::get('hotsearch')=='1'}{lang('hotkeys')}： {gethotsearch(10)}{/if}</span>{/if}</p>					
				</div>
			
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->

 

<div class="servers">
<!--[if (gte IE 7)|!(IE)]><!-->
<!-- 在线客服 -->
{template 'system/servers.html'}
<![endif]-->
<!-- 短信 -->
{template 'system/sms.html'}
</div>

<div class="servers-wap">
{if config::get('wap_foot_nav')=='1'}
{template 'system/foot_nav_a.html'}
{elseif config::get('wap_foot_nav')=='2'}
{template 'system/foot_nav_b.html'}
{elseif config::get('wap_foot_nav')=='3'}
{template 'system/foot_nav_c.html'}
{else}
{/if} 
</div>

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/common.js"></script>{/if}

{if get('share')=='1'}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{/if}


<!-- responsiveslides -->
	<script src="{$skin_path}/js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->

{if get('lang_type')=='cn'}<script type="text/javascript" src="{$base_url}/js/common.js"></script>{/if}
<script src="{$skin_path}/js/modernizr.custom.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{$skin_path}/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{$skin_path}/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{$skin_path}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{$skin_path}/js/bootstrap-submenu.js"></script>
<script src="{$skin_path}/js/docs.js"></script>
<!--[if lt IE 9]><!-->
<script src="{$skin_path}/js/ie/html5shiv.min.js"></script>
<script src="{$skin_path}/js/ie/respond.min.js"></script>
<![endif]-->





</body>
</html>